@model Shared.Models.HoursPerDayModel

@Html.HiddenFor(p => p.HoursPerDayId)
@Html.HiddenFor(p => p.Month)
@Html.HiddenFor(p => p.FormId)
@Html.HiddenFor(p => p.Day)
<tr>
    <td>@Model.Day - @Model.Month</td>
    <td>@Html.TextBoxFor(model => model.Hours)</td>
    <td><input asp-for="ClientId" /></td>
    @*<td>@Html.TextBoxFor(model => model.ClientId)</td>*@
    <td>@Html.TextBoxFor(model => model.IsSick)</td>
    <td>@Html.TextBoxFor(model => model.OverTimeHours)</td>
    <td>@Html.TextBoxFor(model => model.IsLeave)</td>
    <td>@Html.TextBoxFor(model => model.Other)</td>
    <td>@Html.TextBoxFor(model => model.Reasoning)</td>
</tr>

