@model Shared.Models.HoursPerDayModel
@*@foreach (var item in Model)*@

<tr>
    <input type="hidden" value="@Model.FormId" name="FormId" />
    <td>@Html.TextBoxFor(model => model.Day)</td>
    <td>@Html.TextBoxFor(model => model.Hours)</td>
    <td>@Html.TextBoxFor(model => model.ClientId)</td>
    <td>@Html.TextBoxFor(model => model.IsSick)</td>
    <td>@Html.TextBoxFor(model => model.OverTimeHours)</td>
    <td>@Html.TextBoxFor(model => model.IsLeave)</td>
    <td>@Html.TextBoxFor(model => model.Other)</td>
    <td>@Html.TextBoxFor(model => model.Reasoning)</td>
</tr>

