@model Shared.Models.AccountModel
@{
    ViewData["Title"] = "Medewerker Personalia";
}

<div>
    <div>
        <form method="post" enctype="multipart/form-data" asp-action="EmployeePersonalia">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div style="color:#9A33F8">
                <h3>Account Info</h3>
            </div>
            <div id="MostImportantFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div style="text-align:center" class="col-md-6 offset-md-3">
                        <div>
                            <img style="border: 3px solid #9A33F8; width:360px; height:360px;" class="img-fluid" src="~/Images/ProfileImages/@Model.ProfileImage" alt="Profielfoto" />
                        </div>
                    </div>
                </div>

                @*<div class="form-group row">
                    <div class="col-md-4 offset-md-4">
                        <div class="custom-file">
                            <input asp-for="ProfileImage" class="form-control custom-file-input" />

                            <label class="custom-file-label">Upload Profielfoto</label>
                        </div>
                    </div>
                </div>*@

                <div class="row" style="margin-top:50px;">
                    <div class="col">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.FirstName)
                            </div>
                            <div class="form-group">
                                <h1>
                                    @Html.DisplayFor(model => model.FirstName)
                                </h1>
                            </div>
                        </div>
                    <div class="col">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.LastName)
                        </div>
                            <div class="form-group">
                                <h1>
                                    @Html.DisplayFor(model => model.LastName)
                                </h1>
                            </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="HashedPassword" class="control-label"></label>
                            <input asp-for="HashedPassword" class="form-control" />
                            <span asp-validation-for="HashedPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="HashedPassword" class="control-label"></label>
                            <input asp-for="HashedPassword" class="form-control" />
                            <span asp-validation-for="HashedPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Persoonlijke Info</h3>
            </div>
            <div id="PersonalInfoFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="MobilePhone" class="control-label"></label>
                            <input asp-for="MobilePhone" class="form-control" />
                            <span asp-validation-for="MobilePhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.IBAN)
                        </div>
                        <div class="form-group">
                            <h>
                                @Html.DisplayFor(model => model.IBAN)
                            </h>
                        </div>
                    </div>
                </div>

            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Adresgegevens</h3>
            </div>
            <div id="LivingInfoFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ZIP" class="control-label"></label>
                            <input asp-for="ZIP" class="form-control" />
                            <span asp-validation-for="ZIP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Rol van de Gebruiker</h3>
            </div>
            <div id="UserRoleFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col">
                            @if (Model.IsTrainee == true)
                            {
                                <p style="text-align:center;">Trainee</p>
                            }
                            else if (Model.IsQienEmployee == true)
                            {
                                <p style="text-align:center;">Qien Medewerker</p>
                            }
                            else
                            {
                                <p style="text-align:center;">Senior Ontwikkelaar</p>
                            }
                    </div>

                </div>
            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Account</h3>
            </div>

            <div id="UserActiveField" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col">
                        @if (Model.IsActive == true)
                        {
                            <p style="text-align:center;">Dit Account Is Actief</p>
                        }
                        else
                        {
                            <p style="text-align:center;">Dit Account Is Niet Actief</p>
                        }
                    </div>
                    <div style="display:none" id="WarningSign" class="col-md-1">
                        <img style="width:20px; height:auto" class="img-fluid" src="~/Images/exclamation-solid.svg" alt="WarningSign" />
                    </div>
                </div>
            </div>
            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            //console.log($(this).val());
                            var filename = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(filename);
                        });
                    });
                </script>
            }

            <div style="margin-top:30px;" class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EmployeeDashboard">Terug</a>
</div>
