@model IEnumerable<Shared.Models.HoursPerDayModel>

@{
    ViewData["Title"] = "Controleren";
}

    <div class="row">
  
            <div class="col-sm" style="text-align:center">
                <h1>@ViewBag.month (@ViewBag.year)</h1>
                <h2 style="text-align:center">@ViewBag.fullName</h2>
            </div>
            
        
    </div>

<table class="table table-hover">
    <thead  style="background-color:#9A33F8;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTimeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reasoning)
            </th>
        </tr>
    </thead>
    <tbody style="background-color:rgba(154, 51, 248, 0.12)">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Day) - @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OverTimeHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLeave)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSick)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Other)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reasoning)
                </td>
            </tr>
        }
        @using (Html.BeginForm("AddComment", "Admin"))
        {
    <tr>
        <td>
            <input type="text" style="width:300px; height:100px; text-align:start;" />

        </td>
        <td>
            <button asp-action="Approve" asp-controller="Admin">Goedkeuren</button>
        </td>
        <td>
            <button asp-action="Disapprove" asp-controller="Admin">Afkeuren</button>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            <label style="font-weight:bold">Reden:</label>
        </td>
        <td>
            <textarea disabled style="width:300px; height:100px; resize:none">
                        Uren kloppen niet
                    </textarea>
        </td>

    </tr>
        }
    </tbody>
</table>


