@model IEnumerable<Shared.Models.HoursPerDayModel>

@{
    ViewData["Title"] = "Controleren";
}

    <hr />
    <div class="row" style="margin-top:25px">
  
            <div class="col-sm" style="text-align:center">
                <img style="display: inline-block; padding-right: 10px; width: 35px; height:auto;" src="~/Images/arrow-circle-left-solid.svg" />
            </div>
            <div class="col-sm" style="text-align:center">
                <h1>@ViewBag.month (@ViewBag.year)</h1>
                <h2 style="text-align:center">@ViewBag.fullName</h2>
            </div>
            
            <div class="col-sm" style="text-align:center">
                <img style="display: inline-block; padding-left: 10px; width: 35px; height:auto;" src="~/Images/arrow-circle-right-solid.svg" />
            </div>
        
    </div>
    <hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverTimeHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSick)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Other)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reasoning)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach(var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day) - @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTimeHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reasoning)
            </td>
        </tr>
}
    </tbody>
</table>

