@model IEnumerable<Shared.Models.AdminTaskModel>

@{
    ViewData["Title"] = "Dashboard";
}

    <div style="text-align:center;">
        <h1>Takenlijst</h1>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateClientCheck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandInTime)
            </td>
            @if (item.stateClientCheck == true)
            {
                <td align=center>
                    <i style="color: #9A33F8;" class="fas fa-check-circle"></i>
                    @*<img style="color: #9A33F8; text-align:center; width: 15px; height:auto;" src="~/Images/check-circle-solid.svg" />*@
                </td>
            }
            else if (item.stateClientCheck == false)
            {
        <td align=center>
            <i style="color: red;" class="fas fa-times-circle"></i>
            @*<img style="color: red; text-align:center; width: 15px; height:auto;" src="~/Images/times-circle-solid.svg" />*@
        </td>
            }
            else
            {
        <td>
            In afwachting..
        </td>
               

            }
            <td>
                @Html.ActionLink("Controleren", "Controleren", new { formId = item.formId, accountId = item.accountId, fullName = item.FullName, month = item.Month, year = item.Year })
            </td>
        </tr>
}
    </tbody>
</table>
