@model IEnumerable<Shared.Models.AdminTaskModel>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateClientCheck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stateClientCheck)
            </td>
            <td>
                @Html.ActionLink("Controleren", "Controleren", new { id=item.accountId})
            </td>
        </tr>
}
    </tbody>
</table>
