@model IEnumerable<Shared.Models.AdminTaskModel>

@{
    ViewData["Title"] = "Dashboard";
}

    <div style="text-align:center;">
        <h1>Takenlijst</h1>
    </div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stateClientCheck)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandInTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stateClientCheck)
            </td>
            <td>
                @Html.ActionLink("Controleren", "Controleren", new { formId= item.formId, userId=item.accountId, month=item.Month, year=item.Year})
            </td>
        </tr>
}
    </tbody>
</table>
